* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.section {
    background-color: #333;
    overflow: hidden;
}
#menu {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#menu .icon {
    position: relative;
    left: 20px;
    width: 30px;
    transform: rotate(0deg);
    transition: .5s ease;
}
#menu .icon.hide {
    transform: rotate(90deg);
}
#menu .wrap {
    position: relative;
    left: 0;
    margin-left: 30px;
    margin-top: 10px;
    padding: 20px 0;
    border-left: 1px solid #fff;
    transition: .3s linear;
}
#menu .wrap .pointer {
    position: absolute;
    left: -2px;
    top: 36px;
    width: 3px;
    height: 20px;
    background-color: red;
    transition: .5s ease;
}
#menu li {
    position: relative;
    display: block;
    height: 60px;
    list-style: none;
}
#menu li:hover a,
#menu li:hover .sub {
    color: #ccc;
}
#menu li a {
    display: block;
    margin-top: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    transition: .3s linear, color 0s;
}
#menu li.active a {
    margin-top: 12px;
    font-size: 20px;
}
#menu li .sub {
    display: inline-block;
    position: relative;
    left: 22px;
    padding-left: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
    opacity: 0;
    transition: .5s, color 0s;
    transition-delay: 0s;
}
#menu li.active .sub {
    opacity: 1;
    transition: 1s, color 0s;
    transition-delay: .3s, color 0s;
}
#menu li .sub::before,
#menu li .sub::after {
    content: '';
    position: absolute;
    top: 7px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: .4s linear;
    transition-delay: 0s;
}
#menu li .sub::before {
    left: -6px;
}
#menu li .sub::after {
    right: -21px;
}
#menu li.active .sub::before,
#menu li.active .sub::after {
    width: 18px;
    transition-delay: .5s;
}
/* Home */
.section:nth-child(1) .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section:nth-child(1) .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section:nth-child(1) .mask .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to left,transparent,rgba(0,0,0,.5));
    pointer-events: none;
}
.section:nth-child(1) .mask .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to top,rgba(0,0,0,.85), transparent);
    pointer-events: none;
}
/* 顶上两个icon */
.section:nth-child(1) .cn-icon,
.section:nth-child(1) .en-icon {
    position: absolute;
    top: 5vh;
    height: 5vh;
}
.section:nth-child(1) .cn-icon img,
.section:nth-child(1) .en-icon img {
    height: 100%;
}
.section:nth-child(1) .cn-icon {
    left: 20px;
}
.section:nth-child(1) .en-icon {
    right: 40px;
}
/* 播放标志 */
.section:nth-child(1) .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
}
.section:nth-child(1) .play img {
    width: 100%;
    animation: play 2s ease infinite alternate;
    transition: .3s;
}
@keyframes play {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}
.section:nth-child(1) .play img:hover {
    scale: 1.1;
    animation: none;
}
.section:nth-child(1) .play::before,
.section:nth-child(1) .play::after {
    content: '';
    position: absolute;
    top: 40px;
    width: 100px;
    height: 1px;
    background-color: rgba(255,255,255,.3);
}
.section:nth-child(1) .play::before {
    right: 85px;
}
.section:nth-child(1) .play::after {
    left: 85px;
}
/* 左侧脚标 */
.section:nth-child(1) footer {
    width: 100%;
    position: absolute;
    bottom: 5vh;
    left: 0;
}
.section:nth-child(1) footer .left {
    position: relative;
    left: 30px;
    height: 2vh;
    padding-left: 10px;
    border-left: 4px solid #fff;
}
.section:nth-child(1) footer .left img {
    height: 100%;
}
/* 右侧脚标 */
.section:nth-child(1) footer .right {
    width: 40vw;
    position: absolute;
    right: 30px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.section:nth-child(1) footer .right::after {
    position: absolute;
    bottom: 0;
    right: -15px;
    content: '';
    width: 4px;
    height: 17vh;
    background-color: #fff;
}
.section:nth-child(1) footer .right .qr_code {
    position: absolute;
    bottom: 2vh;
    right: 0;
    width: 12vh;
    height: 12vh;
    background-color: rgba(59, 59, 59, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section:nth-child(1) footer .right .qr_code .frame::before,
.section:nth-child(1) footer .right .qr_code .frame::after
{
    content: '';
    height: 1px;
    width: 1.2vh;
    background-color: #fff;
    position: absolute;
}
.section:nth-child(1) footer .right .qr_code .frame {
    position: absolute;
    top: 0;
    left: 0;
}
.section:nth-child(1) footer .right .qr_code .frame:nth-child(2) {
    top: 0;
    left: 100%;
    transform: rotate(90deg);
}
.section:nth-child(1) footer .right .qr_code .frame:nth-child(3) {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}
.section:nth-child(1) footer .right .qr_code .frame:nth-child(4) {
    left: 0;
    top: 100%;
    transform: rotate(270deg);
}
.section:nth-child(1) footer .right .qr_code .frame::after {
    transform-origin: left top;
    transform: rotate(90deg);
}
.section:nth-child(1) footer .right .qr_code img {
    width: 85%;
}
.section:nth-child(1) footer .right .qr_code::before {
    /* 禁止换行 */
    white-space: nowrap;
    content: '扫码下载游戏';
    color: #fff;
    font-size: 2vh;
    font-weight: 500;
    position: absolute;
    top: -3vh;
}
.section:nth-child(1) footer .right .qr_code .scanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    filter: drop-shadow(0 0 2px rgb(255,47,47))
    drop-shadow(0 0 4px rgb(255,47,47));
    background: linear-gradient(to bottom, transparent, rgba(252, 47, 47, 0.6), transparent);
    animation: scan 2s linear infinite alternate;
}
@keyframes scan {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}
.section:nth-child(1) footer .right .list {
    position: absolute;
    bottom: 2vh;
    right: 14vh;
}
.section:nth-child(1) footer .right .list .download {
    position: relative;
    bottom: 0;
    height: 5vh;
    list-style: none;
    display: flex;
    gap: 2vh;
}
.section:nth-child(1) footer .right .list .download a img {
    height: 100%;
}
.section:nth-child(1) footer .right .list .community {
    position: relative;
    bottom: 1.5vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    gap: 1vh;
    width: 35vh;
}
.section:nth-child(1) footer .right .list .community li {
    position: relative;
    list-style: none;
    width: 5vh;
    height: 5vh;
}
.section:nth-child(1) footer .right .list .community li:hover {
    background-color: rgba(255,255,255,.1);
}
.section:nth-child(1) footer .right .list .community li img {
    width: 100%;
}
.section:nth-child(1) footer .right .list .community li .li_qr {
    position: absolute;
    left: -50%;
    bottom: 0;
    width: 10.2vh;
    height: 10.2vh;
    visibility: hidden;
    opacity: 0;
    transition-delay: visibility .2s, opacity .2s, bottom .7s;
    transition: visibility .2s, opacity .2s, bottom .4s;
}
.section:nth-child(1) footer .right .list .community li:hover .li_qr {
    transition: visibility 0s, opacity .5s, bottom .5s;
    bottom: 6vh;
    visibility: visible;
    opacity: 1;
}
.section:nth-child(1) footer .right .list .community li .li_qr:hover {
    visibility: visible;
}
.section:nth-child(1) .next {
    position: absolute;
    left: 50%;
    /* bottom: 3vh; */
    height: 4.5vh;
    transform: translateX(-50%);
    animation: next_page 1s linear infinite;
}
@keyframes next_page {
    0% {
        bottom: 5vh;
        opacity: 0;
    }
    70% {
        bottom: 3.2vh;
        opacity: 1;
    }
    80%, 100% {
        bottom: 3vh;
        opacity: 1;
    }
}
.section:nth-child(1) .next img {
    height: 100%;
}

/* 主题影音 */
.section:nth-child(4) .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.section:nth-child(4) .container .middle_scene {
    position: relative;
    width: 200vw;
    height: 50vw;
    right: 0;
    transition: 1s;
}
.section:nth-child(4) .container .middle_scene.go_video {
    right: -27.5vw;
}
.section:nth-child(4) .container .middle_scene .divide {
    position: absolute;
    left: 0;
    right: 0;
    top: 3.4vw;
    bottom: 0;
    margin: auto;
    transform: rotate(52deg);
    transform-origin: center center;
    width: 2px;
    height: 60vw;
    background-image: linear-gradient(transparent, #fff, transparent);
}
.section:nth-child(4) .container .middle_scene .left_video {
    position: absolute;
    left: -27.5vw;
    top: -2vw;
    clip-path: polygon(0% 0%,100% 0%,100% 22.12%,50.18% 100%,0% 100%);
    height: 100%;
    width: 100vw;
    /* background-color: rgba(255, 255, 255, 0.6); */
}
.section:nth-child(4) .container .middle_scene .left_video .figure {
    position: absolute;
    bottom: 0;
    right: 15vw;
    width: 40vw;
    height: 45vw;
    background-image: url('./img/figure_video.png');
    background-size: cover;
    
}
.section:nth-child(4) .container .middle_scene .left_video .bg {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('./img/bg_video.png');
    height: 39vw;
    width: 80vw;
    background-size: cover;
}
.section:nth-child(4) .container .middle_scene .left_video .rotate {
    position: absolute;
    bottom: 6vw;
    right: 29vw;
    background-image: url('./img/rotate_video.png');
    height: 30vw;
    width: 30vw;
    background-size: cover;
    animation: rt 20s linear infinite;
    transition: 1s;
}
.section:nth-child(4) .container .middle_scene.go_video .left_video .rotate {
    right: 26vw;
}
@keyframes rt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.section:nth-child(4) .container .middle_scene .left_video .btn {
    position: absolute;
    bottom: 18vw;
    right: 39vw;
    background-image: url('./img/btn_video.png');
    height: 4vw;
    width: 21.5vw;
    background-size: cover;
    transition: .5s;
}
.section:nth-child(4) .container .middle_scene .left_video .btn:hover {
    right: 42vw;
}
.section:nth-child(4) .container .middle_scene.go_video .left_video .btn:hover {
    right: 39vw;
}
.section:nth-child(4) .container .middle_scene .right_audio {
    position: absolute;
    right: -22.5vw;
    top: 9.1vw;
    width: 100vw;
    height: 100%;
    clip-path: polygon(50.1% 0%,100% 0%,100% 100%,0% 100%,0% 77.88%);
    /* background-color: rgba(163, 34, 34, 0.6); */
    /* border: 1px solid blue; */
}
.section:nth-child(4) .container .middle_scene .right_audio .figure {
    position: absolute;
    top: 2.5vw;
    left: 11vw;
    width: 40vw;
    height: 45vw;
    background-image: url('./img/figure_audio.png');
    background-size: cover;
    opacity: 1;
    transition: 1s;
}
.section:nth-child(4) .container .middle_scene.go_video .right_audio .figure {
    opacity: 0;
    visibility: hidden;
}
.section:nth-child(4) .container .middle_scene .right_audio .bg {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('./img/bg_audio.png');
    height: 39vw;
    width: 80vw;
    background-size: cover;
}
.section:nth-child(4) .container .middle_scene .right_audio .rotate {
    position: absolute;
    top: 6vw;
    left: 35vw;
    background-image: url('./img/rotate_audio.png');
    height: 30vw;
    width: 30vw;
    background-size: cover;
    animation: rt 20s linear infinite;
}
.section:nth-child(4) .container .middle_scene .right_audio .btn {
    position: absolute;
    top: 18vw;
    left: 42vw;
    background-image: url('./img/btn_audio.png');
    height: 4vw;
    width: 21.5vw;
    background-size: cover;
    transition: .5s;
}
.section:nth-child(4) .container .middle_scene .right_audio .btn:hover {
    left: 45vw;
}
.section:nth-child(4) .container .middle_scene.go_video .right_audio .btn {
    top: 30vw;
    left: 5vw;
    transition: left .5s;
    animation: btn_right 1s ease;
}
@keyframes btn_right {
    0% {
        top: 30vw;
        left: -12vw;
        opacity: 0;
    }
    100% {
        top: 30vw;
        left: 5vw;
        opacity: 1;
    }
}
.section:nth-child(4) .container .middle_scene.go_video .right_audio .btn:hover {
    left: 8vw;
}

/* 主题壁纸 */
.section:nth-child(5) .container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section:nth-child(5) .container .main_wrap {
    width: 70%;
    height: 60%;
    transform: translateY(10%);
    display: flex;
    gap: 1vw;
}
.section:nth-child(5) .container .main_wrap .left_wrap,
.section:nth-child(5) .container .main_wrap .right_wrap {
    flex: 0 22%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.section:nth-child(5) .container .main_wrap .img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.section:nth-child(5) .container .main_wrap a {
    width: 100%;
    height: 100%;
}
.section:nth-child(5) .container .main_wrap .img::before {
    opacity: 0;
    transition: .3s;
    content: '';
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgb(86, 2, 2), transparent);
    position: absolute;
    left: 0;
    bottom: 0;
}
.section:nth-child(5) .container .main_wrap .img::after {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../img/query.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .3s;
    transition-delay: 0s;
    transform: translate(-50%, -50%);
}
.section:nth-child(5) .container .main_wrap .img:hover::before {
    opacity: 1;
}
.section:nth-child(5) .container .main_wrap .img:hover::after {
    transition-delay: .3s;
    opacity: 1;
}
.section:nth-child(5) .container .main_wrap .middle_wrap {
    flex: 0 66%;
    background-size: cover;
    background-position: center;
}
/* more按钮 */
.section:nth-child(5) .container .main_wrap .more {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    right: 5px;
    padding: .2vw 1vw;
    font-size: 1.2vw;
    font-size: 500;
    letter-spacing: .1vw;
}
.section:nth-child(5) .container .main_wrap .more a {
    text-decoration: none;
    color: #000;
}
.section:nth-child(5) .container .main_wrap .more a i {
    
    display: inline-block;
    width: 1vw;
    height: 1vw;
    border: .5vw solid transparent;
    border-left: .5vw solid #000;
    position: relative;
    top: .1vw;
    left: .5vw;
}

/* 游戏衍生 */
.section:nth-child(6) .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.section:nth-child(6) .container .pic_wrap {
    width: 100%;
    display: flex;
}
.section:nth-child(6) .container .pic_wrap .sec {
    position: relative;
}
.section:nth-child(6) .container .pic_wrap .sec .title_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    animation: up .8s ease forwards;
}
@keyframes up {
    0% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0%);
    }
}
.section:nth-child(6) .container .pic_wrap .sec .title_wrap .main {
    color: #fff;
    font-size: 3vw;
}
.section:nth-child(6) .container .pic_wrap .sec .title_wrap .sub {
    position: relative;
    color: var(--clr);
    font-size: 1.5vw;
    letter-spacing: .1vw;
}
.section:nth-child(6) .container .pic_wrap .sec .title_wrap .sub::before,
.section:nth-child(6) .container .pic_wrap .sec .title_wrap .sub::after {
    content: '';
    position: absolute;
    top: 1.2vw;
    width: 3vw;
    height: 1px;
    background-color: var(--clr);
}
.section:nth-child(6) .container .pic_wrap .sec .title_wrap .sub::before {
    left: -3.6vw;
}
.section:nth-child(6) .container .pic_wrap .sec .title_wrap .sub::after {
    right: -3.6vw;
}
.section:nth-child(6) .container .pic_wrap .sec img {
    filter: brightness(0.4);
    transform: scale(1);
    width: 100%;
    transition: .8s;
}
/* hover效果 */
.section:nth-child(6) .container .pic_wrap .sec:hover .title_wrap {
    animation: down .8s ease forwards;
}
@keyframes down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(30%);
    }
}
.section:nth-child(6) .container .pic_wrap .sec:hover img {
    filter: brightness(1);
    transform: scale(1.05);
}